.container {
    display: grid;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.container-one {
    background-color: #00000065;
    border: 2px solid;
    border-radius: 5px;
    color: #2f2f36;
    grid-column: 1 / 3;
    grid-row: 1;
}

.container-two {
    background-color: #00000065;
    border: 2px solid;
    border-radius: 5px;
    color: #2f2f36;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.container-three {
    background-color: #00000065;
    border: 2px solid;
    border-radius: 5px;
    color: #2f2f36;
    grid-column: 1;
    grid-row: 2 / 5;
}

.container-four {
    background-color: #00000065;
    border: 2px solid;
    border-radius: 5px;
    color: #2f2f36;
    grid-column: 3;
    grid-row: 3;
}

.container-five {
    background-color: #00000065;
    border: 2px solid;
    border-radius: 5px;
    color: #2f2f36;
    grid-column: 2;
    grid-row: 4;
}

.container-six {
    background-color: #00000065;
    border: 2px solid;
    border-radius: 5px;
    color: #2f2f36;
    grid-row: 4;
}
